
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
background-image: url(Imagenes/Fondo.jpg) ;
background-size: 100%;
}

.header{
/*	background-color: aliceblue;*/
	align-content: center;
	align-items:end;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 250px;
}
.ADN{

	width: 430px;
}


.nav{
/*	background:#090808;*/
	width: 100%;
	height: 5px;
}

.main{
	/*background:#FE0004;*/
	width: 100%;
	height: calc(100vh - 300px);
	display:flex;
	justify-content: center;
	align-items: center;
}

.section{
	width: 400px;
	background:hsla(0,0%,0%,0.75);
	padding: 30px;
	margin: auto;
	border-radius: 10px;
	font-family: 'calibri';

}

.section p{
	margin: 20px;
	text-align: center;
}
.controls{

	width: 100%;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	font-family: 'calibri';
	font-size: 18px;
}


.butom{
	background:#313131;
	letter-spacing: 1px;
	color: white;
	width: 100%;
	padding: 12px;
	margin: 16px 0;
	font-family: 'calibri';
	font-size: 18px;
	border: 1px solid #000000;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #FE0004;
 	-webkit-transition: ease-out 0.4s;
 	-moz-transition: ease-out 0.4s;
  	transition: ease-out 0.4s;
	

}

.butom:hover{
	box-shadow: inset 400px 0 0 0 #FE0004;
	color: #313131;
}

.footer{
	align-items: center;
	justify-content: center;
	display: flex;
/*	background:#FF00D9;*/
	width: 100%;
	height: 100px;
}


/*Pagina Recuperacion de contraseña*/


.header1{
	background-color:#262626;
	align-items:flex-start;;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 150px;
}

.ADN1{

	width: 350px;
}
.nav1{
background:#090808;
	width: 100%;
	height: 5px;
}
.main1{
/*	background:#FE0004;*/
	width: 100%;
	height: calc(100vh - 300px);
	align-content: center;
	

}
.controls1{

	width: 100%;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	font-family: 'calibri';
	font-size: 18px;
}

.section1{
	width: 600px;
	background:hsla(0,0%,0%,0.75);
	padding: 30px;
	margin: auto  15px;
	border-radius: 10px;
	font-family: 'calibri';
}

.section1 p{
	color: white;
}

.label1{
	color: white;
}

.butom1{
	background:#313131;
	color: white;
	letter-spacing: 1px;
	width: auto;
	height: auto;
	padding: 12px;
	margin: 16px 0;
	font-family: 'calibri';
	font-size: 18px;
	border-radius: 0px;
	border: 2px;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #FE0004;
 	-webkit-transition: ease-out 0.4s;
 	-moz-transition: ease-out 0.4s;
  	transition: ease-out 0.4s;
}
.butom1:hover{
	box-shadow: inset 400px 0 0 0 #FE0004;
	color: #313131;
}
